altgraph==0.14
asn1crypto==0.22.0
bdist-mpkg==0.5.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
Django==1.11.3
enum34==1.1.6
gunicorn==19.7.1
idna==2.5
ipaddress==1.0.18
macholib==1.5.1
meld3==1.0.2
modulegraph==0.10.4
numpy==1.13.1
olefile==0.44
Pillow==8.1.1
psycopg2==2.7.1
py2app==0.7.3
pycparser==2.18
pyparsing==2.0.1
python-dateutil==1.5
python-resize-image==1.1.11
pytz==2017.2
requests==2.18.1
six==1.4.1
urllib3==1.21.1
virtualenv==15.1.0
xattr==0.6.4
zope.interface==4.4.2
