<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Login
        </title>
         {% load static from staticfiles %}
        <link  rel="stylesheet" href="{% static 'css/stylelogin.css' %}" />
    </head>
    <body>
        <img class="img-login" src="{% static 'img/logo_luis.png' %}" alt="" >
        <div id="login">
            <form method="POST">
                {% csrf_token %}
                <h2>Ingresar </h2>
                {{ form.username }}
                {{ form.username.errors }}
                {{ form.password }}
                {{ form.password.errors }}
                <input class="button" type="submit" id="login-btn" value="Ok"/>
            </form>
        </div>
    </body>
</html>
