<div class="cat-wrapper" id="cat-portraits">

    <!-- <div class="header animated" style="background-image:url(img/Gallery/portrait1.png)" data-animation="fadeIn" data-animation-delay="200">
        <div class="overlay"></div>
        <div class="title">
            <p>P<br/>O<br/>R<br/>T<br/>R<br/>A<br/>I<br/>T<br/>S</p>
        </div>
    </div> -->

    <div class="images">

        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait2.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img14.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait6.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img19.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait9.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img13.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait7.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img16.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait3.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img17.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait10.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img21.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait4.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img20.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait8.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img18.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait11.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img3.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait5.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img15.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/portrait12.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img22.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>

    </div>
</div>

<div class="cat-wrapper" id="cat-street">
<!--
    <div class="header animated" style="background-image:url(img/Gallery/street1.png)" data-animation="fadeIn" data-animation-delay="200">
        <div class="overlay"></div>
        <div class="title">
            <p>S<br/>T<br/>R<br/>E<br/>E<br/>T</p>
        </div>
    </div> -->

    <div class="images">

        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street2.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img27.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street5.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img26.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street9.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img25.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street6.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img30.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street3.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img29.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street10.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img28.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street7.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img23.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street11.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img32.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street4.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img31.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>
        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="400">
            <img src="{% static '' %}img/Gallery/street8.png" alt="">
            <a href="{% static '' %}img/Full_sizes/img24.jpg" class="overlay"></a>
            <a href="#" class="icon1-heart-empty"></a>
            <a href="#" class="icon1-heart"></a>
            <p class="love">47</p>
        </div>

    </div>
</div>
